<div>
  <!--
  <google-chart
    [type]="type1"
    [data]="data221"
    [columns]="columnNames221"
    [options]="options"
    (select)="onSelect($event)"
  ></google-chart>

  <google-chart
    [type]="type1"
    [data]="data1"
    [columns]="columnNames1"
    [options]="options"
    (select)="onSelect($event)"
  ></google-chart>

  <google-chart
    [type]="type1"
    [data]="data21"
    [columns]="columnNames21"
    [options]="options3"
    (select)="onSelect($event)"
  ></google-chart> //-->
  <div class="chartWithMarkerOverlay">
    <div id="line-chart-marker">
      <google-chart
        [type]="type2"
        [data]="piedata"
        [options]="pieOptions"
        [columns]="pieColumns"
      ></google-chart>
    </div>
    <div class="overlay">
      <div style="font-family:'Arial Black'; font-size: 12px;">
        {{ overlay }}
      </div>
    </div>
    <mwl-gauge
      [max]="100"
      [value]="mlgauge_unassigned"
      [animated]="true"
      [animationDuration]="1"
      [label]="mllabel"
    >
    </mwl-gauge>
    <!--
    <x-chartist [configuration]="chartistconfig"></x-chartist>
//-->
    <!-- <google-chart  #chart
      [title]="chartTitle"
      [type]="type"
      [data]="data"
       
       [options]="options" ></google-chart> -->
  </div>
</div>
